IMAGE_API_KEY=your_api_key_here
IMAGE_API_BASE=http://45.59.101.161:8083/v1
IMAGE_MODEL=gpt-image-2
APP_USERNAME=admin
APP_PASSWORD=change_this_password
ALLOWED_HOSTS=image.wormforce.net
APP_OPEN_BROWSER=0
